body {
  cursor: none;
}
.Section-1 {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  width: 90%;
  margin: 4vh auto;
  padding:6vh;
  column-gap: 5vh;
}
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3vh;
  gap: 20px 4vh;
  font-size: 2vh;
}
.box-work {
  background-color: transparent;
  padding: 1vh 5vh 4vh 4vh;
  width: 250px;
  height: 150px;
  border: 1px solid #252525;
  border-radius: 5px;
}

.text-About {
  text-transform: uppercase;
  font-weight: 500;
}
.overview-1 {
  justify-self: flex-start;
  gap: 2vh 3vh;
}
.number {
  color: #ffb400;
  font-size: 45px;
  font-weight: bolder;
}
.Skills-show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 8vh 0px;
  width: 80%;
  margin: auto;
}
.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.Skills-show :nth-child(1) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 95%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(2) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 87%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(3) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 85%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(4) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 80%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(5) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 85%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(6) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 70%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(7) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 75%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(8) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 87%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(9) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 90%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(10) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 85%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(11) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 70%, #252525 0);
  margin-top: 10vh;
}
.Skills-show :nth-child(12) .progress-bar {
  background: radial-gradient(closest-side, #141414 79%, transparent 80% 100%),
    conic-gradient(#ffb400 70%, #252525 0);
  margin-top: 10vh;
}

.Experience-Education-Section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: flex-start;
    padding: 3vh;
    margin-top: 10vh;
}
.experince-box,.education-box{
    display: flex;
    column-gap: 4vh;
    width: 79%;
    margin: auto;
}
.education-box{
    width: 100%;
}
.icon-section-About{
    width:35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #ffb400;
}
.Experience{
    display: flex;
    flex-direction: column;
    row-gap: 6vh;
    align-items: flex-start;
} 
.Info-section-About{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2vh;
}
.Education{
    display: flex;
    flex-direction: column;
 row-gap: 6vh;
    align-items: flex-start;
}

