@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}

.Portfolio_Page ,.Scrollable-About-Page{
  overflow-y: scroll;
  height: 100vh;
}
.Portfolio_Page::-webkit-scrollbar  , .Scrollable-About-Page::-webkit-scrollbar {
  width: 12px;
}

.Portfolio_Page::-webkit-scrollbar-track ,.Scrollable-About-Page::-webkit-scrollbar-track {
  background: rgb(51,51,51);
  border-radius: 25px;
}

.Portfolio_Page::-webkit-scrollbar-track ,.Scrollable-About-Page::-webkit-scrollbar-thumb {
  background: rgb(85,85,85);
  border: 3px solid #333;
  border-radius: 25px;
}

