.front {
  word-spacing: -12px;
}
.Contact-Section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  padding: 1vh 30vh;
  margin-top: 5vh;
}

input,
textarea {
  background-color: #252525;
  padding: 10px 3vh;
  width: 100%;
  border-radius: 20px;
  
}
input,
textarea {
  background-color: #252525;
  padding: 10px 3vh;
  width: 100%;
  border-radius: 20px;
}
input:focus,
textarea:focus {
  outline: 1px solid #ffb400;
}
input::placeholder,
textarea::placeholder {
  color: #4d4d4d;
  opacity: 1; /* Firefox */
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #4d4d4d;
}
.your-info {
  display: flex;
  margin-bottom: 4vh;
  gap:3vh;
}
.Contact-form {
  width: 100%;
}
textarea{
    padding: 3vh;
}
.Subject-field{
    margin-bottom: 4vh;
}
.submit_button{
  display: flex;
  justify-content: flex-end;
}
.container .btn-submit {

	position: relative;
	width: 250px;
	height: 50px;
	margin: 3vh  0 0 0;
 
}
.container .btn-submit p {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn-submit:hover p {
	letter-spacing: 3px;
}
.container .btn-submit p::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn-submit:hover p::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn-submit::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #ffb400;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn-submit:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn-submit::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #ffb400;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn-submit:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn-submit:nth-child(1)::before, /*chnage 1*/
.container .btn-submit:nth-child(1)::after {
	background: #ffb400;
	box-shadow: 0 0 5px #ffb400, 0 0 15px #ffb400, 0 0 30px #ffb400,
		0 0 60px #ffb400;
}
@media   (min-width :1024px) {
	
	
}